
# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# PlatformIO
.pio/

# Environment Variables
.env
firmware/esp32/mirror-prod-animation_esp32/secrets.h

# Archives
firmware/esp32/archive/
archive/

# Temporary files
temp_*.py
*backup*.py
*original.py
optimal_settings.txt
